<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link href="css/boostrap.min.css" rel="" type="" href=""> -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

      <ul class="nav nav-pills menu1">
              <li role="presentation"  class="btn1"><a href="/">Home</a></li>
              <li role="presentation" class="btn1"><a href="/01">All</a></li>
              <li role="presentation"  class="btn1"><a href="/02">Add</a></li>
              <li role="presentation"  class="btn1"><a href="/03">Update</a></li>
              <li role="presentation"  class="btn1"><a href="/04">delete</a></li>
              <li role="presentation"  class="btn1"><a href="/05">FindOne</a></li>
      </ul>
      <br>

      <hr class="bar1">
